/************************* Sass Variables *************************/
/************************* SASS FUNCTIONS *************************/
#monochrome .chip {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000000;
  display: inline-block;
  background: #ffcc66; }
  #monochrome .chip:nth-of-type(2) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(3) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(4) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(5) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(2) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(3) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(4) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(5) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(6) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(7) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(8) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(9) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(10) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(11) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(12) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(13) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(14) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(15) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(16) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(17) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(18) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(19) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(20) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(21) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(22) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(23) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(24) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(25) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(26) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(27) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(28) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(29) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(30) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(31) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(32) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(33) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(34) {
    background: #ffaa00; }
  #monochrome .chip:nth-of-type(35) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(36) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(37) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(38) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(39) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(40) {
    background: #ffeecc; }
  #monochrome .chip:nth-of-type(41) {
    background: #ffcc66; }
  #monochrome .chip:nth-of-type(42) {
    background: #ffeecc; }

/************************* Body and Headers *************************/
body {
  width: 960px;
  margin: 0px auto;
  background-color: #000000;
  background-attachment: fixed;
  font-family: 'Copperplate', Copperplate Gothic Light, fantasy; }

header {
  width: 930px;
  margin: 0px auto; }

h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff; }

h2 {
  text-align: center;
  font-size: 30px;
  color: #E8BF96; }

.container {
  max-width: 100rem;
  margin: 0 auto; }

.header {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center; }

/******************************* Navigation *************************/
#nav li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-align: center; }
  #nav li a {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #E8BF96;
    text-align: center;
    -webkit-transition: 1s;
    transition: 1s; }
  #nav li a:hover {
    text-decoration: none;
    list-style: none;
    color: #d46060; }
  #nav li .active {
    text-decoration: none;
    list-style: none; }

/******************************* Navigation Animation *************************/
.nav_animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.nav_animation {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

/******************************* Keyframe for Opacity (Entire page) *************************/
.fadeIn_everything {
  -webkit-animation: FadeIn 2s; }

@-webkit-keyframes FadeIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0; }
  90% {
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeIn_everything {
  -webkit-animation: FadeIn 2s;
  -webkit-animation-delay: .1s; }

/******************************* Content *************************/
#content {
  min-height: 400px;
  width: 915px;
  padding: 10px;
  margin-left: 9%; }

/******************************* Images *************************/
img {
  width: 100%; }

#me_image {
  display: inline-block; }

/******************************* Footer *************************/
footer {
  width: 960px;
  color: #E8BF96;
  margin-top: 40px;
  text-align: center;
  display: inline-block; }
  footer a {
    color: #ffffff; }

/*# sourceMappingURL=index.css.map */
